# Ignore folder contents
/Architecture/*
/Introduction/*
/OpenMP/*

# Ignore Empty Folders
/Architecture/
/Introduction/
/OpenMP/

# Ignore C/C++ compilations files
*.o
*.out
*.obj
*.exe
*.dll
*.so
*.dylib
*.bak

# Ignore bin folders
**/bin/